*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  width:100%;
  height:50px;
  background-color:#FF9A4B;
}

main{
  width:100%;


}
.main-content{
  display:flex;
  justify-content: center;
  margin:50px 0;
}
.main-item1{
  width:300px;
  height:350px;
  background-color:#EEEEEE;
  margin-right:30px;
  position:relative;
  padding:10px;
}

.main-picture1{

  width:280px;
  height:150px;
  background-size:cover;
  background-position:bottom;

}
.main-picture1 span{
  display:inline-block;
  background-color:#FF9A4B;
  line-height:30px;
  color:white;
  position:absolute;
  top:0;
  left:0;
}

.main-title1 p{
  padding-top:5px;
   letter-spacing:0.12em;
}
.main-title1{
  padding-top:15px;
}

footer{
  width:100%;
  height:50px;
  background-color:#AAAAAA;
}
.picture1{
  background-image:url(img3/flow01.png);
}
.picture2{
  background-image:url(img3/flow02.png);
}
.picture3{
  background-image:url(img3/flow03.png);
}


@media screen and (max-width:768px){
  .main-content{
    display:block;
    width:100%;
  }
  .main-item1{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    padding:10px;
    height:300px;
    margin-bottom:20px;
  }
  .main-picture1{
    width:100%;
    height:150px;

  }



  }

